<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_gerente.css">
    <script src="https://kit.fontawesome.com/19c98ef4dc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/principal.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/estilos.formcol.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="perfilusr.html"><img src="src/logo.png" width="60px" height="60px" alt=""></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="Cotizacion.html"><i class="fa-solid fa-clipboard-list" style="color: #ffffff;"></i> Cotización</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="ListaCliente.html"><i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> Lista de clientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="ListaEmpleados.html"><i class="fa-solid fa-user-tie" style="color: #ffffff;"></i> Lista de Empleados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="listaServicios.html"><i class="fa-solid fa-user-tie" style="color: #ffffff;"></i> Lista de Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="ListaOrd.html"><i class="fa-solid fa-clipboard-list" style="color: #ffffff;"></i> Reporte </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="OrdenServ.html"><i class="fa-solid fa-file-invoice-dollar" style="color: #ffffff;"></i>  Nota</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="ListaPaquetes.html"><i class="fa-solid fa-cubes" style="color: #ffffff;"></i>Lista Paquetes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="ListaUsuarios.html"><i class="fa-solid fa-users" style="color: #ffffff;"></i> Lista Usuarios</a>
                  </li>
 
                </ul>
                <form class="d-flex" role="search">
                  <a href="index.html"><button type="button" class="btn btn-danger">Cerrar sesion</button></a>
                </form>
              </div>
            </div>
          </nav>

    <!--Formulario-->
    <div class="clearfix"></div>
    <br><br>
    
    
    <!--Pie de pagina-->
    <div class="clearfix"></div>

    <div class="container p-3 my-5 bg-dark text-light " style="border-radius: 10px; width: 50%;" >
        <div class="container" id="form">
            <form class="row g-3 p-4 " action="Control.php" method="post">
                <div class="mb-3">
                    <label for="nom_usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" placeholder="Ingresa el usaurio" id="nom_usuario">
                </div>
                <div class="mb-3">
                    <label for="contr_usuario" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Ingresa contraseña" id="contr_usuario">
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Roles</option>
                        <option value="1">Cliente</option>
                        <option value="2">Empleado</option>
                        <option value="3">Gerente</option>
                    </select>
                </div>
                    <div class="col-12 text-center">
                    <a type="submit" href="ListaUsuarios.html" class="btn btn-success">Aceptar</a>
                    <a href="ListaUsuarios.html" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        </div>
    
    <footer class="tabla">
        <table>
            <tr>
                <td><header class="footer">
                  
                    Taller de reparaciones Firestone <br>
                    Sucursal Cascabel 4a avenida, Esquina calle Cascabel
                    Col.Benito juarez, cp57000 Cdad.Nezahualcoyotl.Mex <i class="fa-solid fa-location-dot fa-fade fa-xl" style="color: #E0242A;;"></i><br>
                    Teléfono +52 55 1108 3925 <i class="fa-solid fa-phone fa-fade fa-lg" style="color: #E0242A;"></i>
                </td>
                <td>
                    <header class="footer">
                  &#169; Overclock </div>
                    <i class="fa-solid fa-code fa-fade fa-xl" style="color: #E0242A;"></i>
                    </header>
                </td>
            </tr>
        </table>
    </footer>
    <script src="https://kit.fontawesome.com/6e1eb60fa0.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
</body>
</html>