<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="src/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firestone</title>
    <link rel="stylesheet" href="css/principal.css">
    <!-- <link rel="stylesheet" href="css/No MUEVAN.css"> -->
        <link rel="stylesheet" href="css\estilos_lista.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="perfilusr3.html"><img src="src/logo.png" width="60px" height="60px" alt=""></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  <li class="nav-item">
                    <a class="nav-link" href="Historial.html"><i class="fa-solid fa-clipboard-list" style="color: #ffffff;"></i> Historial</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="OrdenServ_cliente.html"><i class="fas fa-file-invoice-dollar" style="color: #ffffff"></i> Nota</a>
                  </li>
                  
 
                </ul>
                <form class="d-flex" role="search">
                    <a href="index.html"><button type="button" class="btn btn-danger">Cerrar sesion</button></a>
                  </form>
              </div>
            </div>
          </nav>
    </div>


   


    <div class="titulolist">
        <h2>Orden de servicio<a href=""><i class="fa-regular fa-paste" style="color: #ff0000;"></i></a></h2>
    </div>
    <div class="listaonjectos">
        
        <table>
            <tr> 
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Celular</th>
            <th>Correo</th>
        </tr>
        <tr>
            <td>
                20-05-2024
            </td>
                <td>
                    Arturo Ramos
                </td>
                <td>
                       5638848078 
                </td>
                <td>
                        ****
                </td>
            </a>
        </a>
            </td>
            </tr>
            
        <table>
            <br>
            <br>
            <tr>
                <th>Cantidad</th>
                <th>Concepto</th>
                <th>Precio</th>
            </tr>
            <tr>
                <td id="precio">
                   4
                </td>
                <td>
                    Balanceo X llanta auto
                </td>
                <td id="precio">
                    $30
                </td> 
            </tr>
            <tr>
                <td id="precio">
1                   </td>
                <td>
Paquete viajero                </td>
                <td id="precio">
                    $599
                </td> 
               
            </tr>
            
            <table>
               
                <tr >
                    
                    
                
                    <td id="total">
                        $629
                    </td>
                    <th id="total">Subtotal</th>
                    
                </tr>
             
                <tr >
                    
                    
                
                    <td id="total">
                        $20
                    </td>
                    <th id="total">IVA</th>
                    
                </tr>
                
                <tr >
                    
                    
                
                    <td id="total">
                        $649
                    </td>
                    <th id="total">Total</th>
                    
                </tr>
        </table>
        <br><br>
    </table>
    </table>
    <br>
    <table>
        <tr >
            <th >Atendio:</th>
            <td>Gerente Rafael Rojas</td>
            
        </table>
        
    
    </div>
</div>
    <footer class="tabla">
        <table>
            <tr>
                <td>
                    Taller de reparaciones Firestone <br>
                    Sucursal Cascabel 4a avenida, Esquina calle Cascabel
                    Col.Benito juarez, cp57000 Cdad.Nezahualcoyotl.Mex<br>
                    Teléfono +52 55 1108 3925 
                </td>
                <td>
                  &#169; Overclock
                </td>
            </tr>
        </table>
    </footer>
    <script src="https://kit.fontawesome.com/6e1eb60fa0.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
</body>
</html>
