/* Estilos de index */
.encabezado img {
    width: 10%;
}

.form_sesion {
    width: 100%;
    margin: auto;
}
.form_sesionb{
    margin: 5% auto 5%;
        font-size: 33px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
         text-shadow: 2px 2px 4px #000000;
        width: 250px;
        text-align: center;
        padding: 9px;
}

.form_sesion form {
    width: 50%;
    margin: 1% auto 2%;
    background-color: rgba(160, 28, 28, 0.414);
    padding: 2%;
    text-align: center; /* Alinea todo el contenido del formulario al centro */
}

.form_sesion input[type="email"],
.form_sesion input[type="password"],
.form_sesion input[type="submit"] {
    width: 80%;
    margin: 0 auto; /* Centra horizontalmente los campos de entrada y el botón */
    padding: 1.5%; /* Reducir el relleno del campo de entrada */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 17px;
    border-style: outset;
    border: 1px solid;
    margin-bottom: 10px;
    display: block; /* Muestra los elementos como bloques */
}

.form_sesion #enviar {
    width: 30%; 
    padding: 2%;
    font-size: 1vw; 
    color: white;
    border-radius: 32px;
    border: none;
    background-color: rgb(255, 86, 86);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.form_sesion #enviar:hover {
    background-color: rgb(55, 54, 53);
    transform: scale(1);
    transition-duration: 5s;
}

.bg-custom {
    background-color: #E0242A;
}
.btn-custom {
    background-color: #E0242A;
    border-color: #E0242A;
}