body{
    background-image:url(../src/bg_bggenerator_com.jpg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    
}

footer{
padding: 20px;
            bottom: 0px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    background-color: #282828;
    text-align: center;
    height: 100px;
    overflow: hidden;
    color: #ffffff;
    text-shadow: 2px 2px 4px #1d1d1d;
    margin-top: 20px;
}
footer td{
    width: 1%;
}

@media (max-width: 768px) {
    footer{
        font-size: 2vw;
    }
}

