/* Estilos de form cliente */
#form{
    background-color: #282828;
    border-radius: 10px;
    color: white;
}
#img{
    width: 50%;
    height: 100%;
}
#img input{
    height: 110px;
}
@media (max-width:770px) {

    #img {
        width: 100%;
        height: auto;
    }
    #img input{
        height: auto;
    }
    
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

